<table>
    <thead>
        <tr> 
            <th> Kategori Id</th>
            <th> Kategori Adı</th> 
        </tr>
    </thead>
    <tbody>
        <tr>
            <td> 1</td>
            <td> Telefon </td>
        </tr>
        <tr>
            <td> 2</td>
            <td> Bilgisayar </td>
        </tr>
        <tr>
            <td> 3</td>
            <td> Elektronik Eşya </td>
        </tr>
    </tbody>
</table>
