@model string[]
@{
    ViewBag.Title = "Ibrahim2";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />
<br />
<br />


<div class="container">
    <h2> Ibrahim Partial Page </h2>

    <div class="row">
        <div class="col-md-3">
            <p> Buraya Parça sayfa gelecek (Kategoriler ..)</p>
            @foreach (var Kat in Model)
            {
            <li>
                @Kat
            </li>
            }

            @*@{Html.RenderPartial("_Kategoriler");}*@

        </div>
        <div class="col-md-9 ">
            <p> Buraya Ürün listeleri gelecek</p>

            <div class="row">
                @{
                    string[] aaa = { "Bilgisayar", "Telefon", "Aksesuar", "Beyaz Eşya", "Ev Elektroniği", "Ses Sistemi" };
                    

                    foreach (var x in aaa)
                    {
                        <div class="card" style="width: 18rem;">
                            <div class="card-body ">
                                <h5 class="card-title">@x </h5>
                                <p class="card-text">Açıklama</p>
                                <a href="#" class="btn btn-primary">Detay</a>
                            </div>
                        </div>


                    }
                }
            </div>



            </div>

    </div>
</div>