<html>
<head runat="server">
    <title></title>
    <!-- slider stylesheet -->
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />

    <!-- bootstrap core css -->
    <link rel="stylesheet" type="text/css" href="~/Content/Css/bootstrap.css" />

    <!-- fonts style -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="~/Content/Css/style.css" rel="stylesheet" />
    <!-- responsive style -->

    <link href="~/Content/Css/responsive.css" rel="stylesheet" />
    <link href="~/Content/Css/Bizim.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />

    <link href="~/Content/Css/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.1.3/assets/owl.carousel.min.css" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:400,700|Roboto:400,700&display=swap" rel="stylesheet">
</head>
<body class="hero_area">
    <form id="form1" runat="server">
        <header class="header_section">
            <div class="container-fluid">
                <nav class="navbar navbar-expand-lg custom_nav-container ">
                   
                    <a class="navbar-brand" href="WebForm1.aspx">
                        <img src="../images/logo2.png" alt="">
                        <span>
                            SmartPro 305
                        </span>
                    </a>
                    <button runat="server" id="HtmlButon" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="d-flex mx-auto flex-column flex-lg-row align-items-center">
                            <ul class="navbar-nav  ">
                                <li class="nav-item active">
                                    <a class="nav-link" href="WebForm1.aspx">Ana Sayfa <span class="sr-only">(current)</span></a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="WebForm2.aspx">Sayfa2 </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="WebForm3.aspx">Services </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="portfolio.html"> Portfolio</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="tekrar.aspx"> news </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="contact.html">Contact us</a>
                                </li>
                            </ul>
                        </div>

                    </div>
                </nav>
            </div>

        </header>
        <div>
            @RenderBody()
        </div>

        <section class="container-fluid footer_section">
            <p>
                &copy; 2019 All Rights Reserved By
                <a href="https://html.design/">Free Html Templates</a>
            </p>
        </section>
        <!-- footer section -->
         
        <script src="~/Scripts/UserJs/jquery-3.4.1.min.js"></script>
        
        <script src="~/Scripts/UserJs/bootstrap.js"></script>
    </form>
</body>
</html>